.newsLetter {
  margin: 0 10%;
  height: 35vh;
  background: linear-gradient(
    180deg,
    rgb(255, 192, 203) 20%,
    rgba(222, 184, 135, 0.301) 90%
  );
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 30px;
  /* box-shadow: 5px 7px 4px -1px palevioletred; */
}

.newsLetter h1 {
  padding: 5%;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 30px;
  padding-bottom: 1%;
}

.newsLetter .p1 {
  color: lightslategray;
  font-size: 1.5rem;
  padding-bottom: 0%;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}
form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.newsLetter > form > div > input {
  height: 2.5rem;
  width: 60%;
  border-radius: 40px;
  border: None;
  font-size: 1.2rem;
  background-color: white;
  outline: none;
  padding-left: 1.2rem;
}

.newsLetter > form > div > button {
  margin-left: -50px;
  height: 2.7rem;
  width: 15%;
  border-radius: 40px;
  border: None;
  background: darkcyan;
  color: white;
  font-size: 1.2rem;
}

.newsLetter > form > div > button:hover {
  background-color: green;
  font-weight: bold;
}
